{% extends 'template.html' %}
{% load static %}
{% block content %}
<div id="for-alert"></div>
<div style="margin-top:10% ">
    <div class="d-flex justify-content-center">
        <span class="border border-primary" id="greeting_text">Давай познайомимось!</span>
    </div>
    <div class="container d-flex justify-content-center" id ="form-box">
        <div class="row">
            <form id="greeting">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="first_name" class="col-sm-2 col-form-label mr-4">Ім'я</label>
                    <div class="col-auto">
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Ім'я"
                               maxlength="20"
                               pattern="^[a-zA-ZА-Яа-яёЁЇїІіЄєҐґ']+$" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="last_name" class="col-sm-2 col-form-label mr-4">Прізвище</label>
                    <div class="col-auto">
                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Прізвище"
                               maxlength="20"
                               pattern="^[a-zA-ZА-Яа-яёЁЇїІіЄєҐґ']+$" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Привітатись</button>
                    </div>
                    <div class="col">
                        <a href={% url 'names_list' %}>Інші користувачі</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script async src="{% static 'js/post_name.js' %}"></script>
{% endblock %}