{% extends 'template.html' %}
{% block content %}
<div class="d-flex justify-content-center mt-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <h4>Всі користувачі</h4>
        </div>
        <div class="row d-flex justify-content-center">
            <ul class="list-group col-5">
                {% for instance in object_list %}
                <li class="list-group-item">{{instance.full_name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="pagination w-100">
    <ul class="pagination w-100 container justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        {% endif %}
        {% for page in page_obj.paginator.page_range %}
        {% if page_obj.number == page %}
        <li class="page-item active">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Next</span>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}